:root {
    --main-color: #757575;
    --secondary-color: #212121;
    --third-color: #2196F3; 
    --fourth-color: #F5F5F5;

}

/* Global  */

.list { 
    list-style-type: none;
}

.link {
    text-decoration: none;
}

body {
    font-family: Roboto , sans-serif ;
    color: var(--main-color);
    background-color: var(--fourth-color);
    letter-spacing: 0.03em;
}

/*  Header + Footer  */

.logo {
    color: #000000;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}
.logo-web {
    color: var(--third-color);
}

.nav-link {
    color: var(--secondary-color);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.contact {
    color: var(--main-color);
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.nav-link:hover,
.nav-link:focus,
.contact:hover,
.contact:focus,
.adress:hover,
.adress:focus {
    color: var(--third-color);
}

.adress {
    color: var(--fourth-color);
    background-color: #2F303A;   /* Тимчасовий фон */

}


/* Hero */

.service-button {
    color: var(--fourth-color);
    background-color: var(--third-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
}

.hero-title {
    color: var(--fourth-color);
    background-color: #2F303A;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;

}

/* Advantages  */

.section-title {
    color: var(--secondary-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;

}

.advantage-title {
    color: var(--secondary-color);
    font-weight: 700;
        font-size: 14px;
        line-height: 1.18;
        text-transform: uppercase;
}

.advantage-text {
        font-size: 14px;
        line-height: 1.71;
}

/* Team  */

.member-name {
    color: var(--secondary-color);
    font-weight: 500;
        font-size: 14px;
        line-height: 1.71;
}

.member-role {
        font-size: 16px;
        line-height: 1.18;
}





/* Portfolio  */

/* Filter buttons*/

.filter-button {
    color: var(--secondary-color);
    font-weight: 500;
        font-size: 16px;
        line-height: 1.62;
        background-color: #F5F4FA;
}

.filter-button:hover,
.filter-button:focus {
    color: #FFFFFF;
    background-color: var(--third-color);
}



/* Project list */

.project-title {
    color: var(--secondary-color);
    font-weight: 700;
        font-size: 18px;
        line-height: 2;
}

.project-type {
    font-size: 16px;
    line-height: 1.88;
}